body {
    background-color: black;
    color: green;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #202020;
}
.title {
    font-size: xx-large;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
a {
    text-decoration: none;
    color: green;
    cursor: default;
}
a:hover {
    color: greenyellow;
}
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px
}
.section1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 60px;
    background-color: #202020;
}
.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 45px;
    margin: 60px;
    margin-bottom: 30px;
    background-color: #202020;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px; 
}
button {
    background-color: #202020;
    border: 2px solid green;
    color: green;
    padding: 5px 15px;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
  }
.button:hover {
    background-color: green; 
    color: black; 
    border: 2px solid green;
}
.squares {
    display: flex;
    gap: 45px;
}
.banner {
    max-width: 600px;
    max-height: auto;
}
.square {
    width: 165px;
    height: 165px;
}
.dill {
    width: 60px;
    height: auto;
}